<%= form_with(url: "/dashboard/customer/#{current_customer.id}/schedulings", method: :post) do |form| %>
  <% if scheduling.errors.any? %>
    <div id="error_explanation" class="bg-red-100 text-red-700 p-4 rounded-md">
      <h2 class="font-bold text-lg"><%= pluralize(scheduling.errors.count, 'error') %> proibiram esta vaga de ser salva:</h2>
      <ul class="list-disc pl-6">
        <% scheduling.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :time %>
    <%= form.time_field :time %>
  </div>

  <div>
    <%= form.submit "Schedule" %>
  </div>
<% end %>
